@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
}
@layer base {
  body {
    @apply bg-stone-50 dark:bg-gray-900;
  }
  h1 {
    @apply text-sky-500 font-heading text-3xl font-bold;
  }
  h2 {
    @apply text-sky-500 font-heading text-2xl font-semibold;
  }
  h3 {
    @apply text-sky-500 font-heading text-lg lg:text-xl font-semibold;
  }
  p {
    @apply font-sans text-gray-900 dark:text-stone-50 sm:text-base lg:text-lg leading-relaxed selection:bg-gray-900 selection:text-stone-50 dark:selection:bg-pink-400;
  }
  .highlight {
    @apply text-violet-500 dark:text-pink-400;
  }

  button {
    @apply bg-sky-500 text-stone-50 hover:bg-sky-600 font-heading sm:text-base me-2
    mb-2 rounded-sm py-3 px-5 cursor-pointer font-bold;
  }

  input {
    @apply p-2 ps-10 sm:text-base md:text-lg outline-none text-gray-900 border-[0.5px] border-gray-950 dark:border-gray-300/25  rounded-sm bg-gray-50 focus:border-sky-500 dark:bg-gray-800  placeholder:text-gray-900 md:placeholder:text-lg sm:placeholder:text-base dark:placeholder-gray-400 dark:text-stone-50 dark:focus:border-blue-500;
  }
}
